@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --background: #fbfbfb;
  --secondary-bg: #f5f5f5;
  --secondary-color: #45474b;
  --primary-color: #525ceb;
  --white: #fff;
  --Red-ff: "Red Hat Text", sans-serif;
  --border: #94b4c1;
  --input-bg: #fff;
}

.dark {
  --background: #222831;
  --secondary-bg: #31363f;
  --secondary-color: #f5f7f8;
  --primary-color: #525ceb;
  --white: #fff;
  --border: #94b4c1;
  --input-bg: #393e46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}

#root {
  background-color: var(--background);
}

.fluid-container {
  width: 100vw;
  background-color: var(--background);
}

.container:not(.create-product-form .container) {
  width: min(100%, 1250px);
  margin-inline: auto;
  padding: 20px;
  font-family: "Red Hat Text", sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  padding: 20px;
  border-radius: 10px;
  color: var(--secondary-color);
}

header h1 {
  font-family: "DM Serif Text", serif;
}

header h1 a {
  color: var(--secondary-color);
  text-decoration: none;
}

.actions {
  display: flex;
  gap: 20px;
}

.btn {
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  gap: 10px;
  transition: color 0.1s ease, background-color 0.1s ease;
}

nav .btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.product .btn:hover {
  opacity: 0.7;
}

.lg {
  display: none;
}

@media (min-width: 769px) {
  .lg {
    display: block;
  }
}

.product-section,
.no-product-section {
  margin-top: 50px;
}

.product-section h2,
.no-product-section h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.no-product-section h2 {
  text-align: center;
  color: var(--secondary-color);
}

.no-product-section p {
  text-align: center;
  font-size: 1.125rem;
  color: var(--border);
}

.add-product {
  color: var(--primary-color);
}

.products {
  width: min(100%, 1250px);
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns by default */
  gap: 16px;
}

.product {
  background-color: var(--secondary-bg);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details .name,
.product-details .price {
  font-size: 1.125rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.product-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.product-actions .btn {
  font-size: 1rem;
}

.btn.edit {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn.delete {
  border: 1px solid var(--primary-color);
}

/* Mobile (≤576px) */
@media (max-width: 576px) {
  .products {
    grid-template-columns: 1fr; /* Single column */
    padding: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    gap: 12px;
    padding: 12px;
  }
}

/* Desktop (≥769px) */
@media (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(4, 1fr); /* 4 x 1 grid */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.create-product-form {
  width: min(650px, 100%);
  background-color: var(--secondary-bg);
  margin-top: 100px;
  margin-inline: auto;
  padding: 20px;
  border-radius: 15px;
  color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.create-product-form .title {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

.create-product-form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 1.125rem;
  font-weight: bold;
}
.create-product-form input {
  font-size: 1.125rem;
  padding: 10px;
  font-family: var(--Red-ff);
  color: var(--secondary-color);
  background: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
}

input[type="submit"],
button[type="submit"] {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.dropzone {
  width: 100%;
  height: 100px;
  border: 2px dashed var(--border) !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.dropzone:focus {
  border-color: var(--primary-color);
}

/* Loading Styles */
/* Loader animation */
.loader {
  border: 4px solid transparent;
  border-top: 4px solid currentColor;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 0.8s linear infinite;
}

/* Fullscreen centering */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* or 100vh for full screen */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
